
venv/
*.pyc
*.pyo
__pycache__/


.env


db.sqlite3


*.log
*.pot
*.pyc
*.pyo
*.sqlite3
staticfiles/
media/


.vscode/
.idea/
*.swp
*.swo


*.bak
*.tmp


.DS_Store
Thumbs.db
desktop.ini


**/migrations/*.py
!**/migrations/__init__.py